.animate-moving-text {
    white-space: nowrap; /* No permite que el texto se parta */
    animation: move-left 15s linear infinite; /* Controla el movimiento */
  }

  @keyframes move-left {
    0% {
      transform: translateX(100%); /* Empieza fuera de la pantalla a la derecha */
    }
    100% {
      transform: translateX(-100vw); /* Termina fuera de la pantalla a la izquierda */
    }
  }

.navbar-brand, .display-2{
    font-family: "Aboreto", system-ui;
}

.display-2, .lead{
    text-shadow: black 1px 1px 2px;
}

.btn-dark{
    z-index: 1;
}

.hero-section {
    color: white;
    text-align: center;
    padding: 100px 0;
    height: 100vh;
    overflow: hidden;
}


#btnTop {
    display: flex;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.symbol {
    text-shadow: black 1px 1px 2px;
    font-size: 30px;
    padding: 0 5px;
}

#btnTop:hover {
    transform: scale(1.1);
}

#btnTop:active {
    transform: scale(0.95);
}

.us-text {
    font-size: 25px;
}

.product-card img {
    height: 350px;
    object-fit: cover;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

/* ----- Media Queries ----- */

@media screen and (min-width: 1200px) {
    .img-fluid {
        width: 80%;
    }
}

@media screen and (max-width: 1399px) {
    .us-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .us-text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    @keyframes move-left {
        0% {
          transform: translateX(100%); /* Empieza fuera de la pantalla a la derecha */
        }
        100% {
          transform: translateX(-120vw); /* Termina fuera de la pantalla a la izquierda */
        }
      }
  }

  @media (max-width: 560px) {
    @keyframes move-left {
        0% {
          transform: translateX(100%); /* Empieza fuera de la pantalla a la derecha */
        }
        100% {
          transform: translateX(-180vw); /* Termina fuera de la pantalla a la izquierda */
        }
      }
  }

  @media (max-width: 460px) {
    @keyframes move-left {
        0% {
          transform: translateX(100%); /* Empieza fuera de la pantalla a la derecha */
        }
        100% {
          transform: translateX(-230vw); /* Termina fuera de la pantalla a la izquierda */
        }
      }
  }