/* Promotional banner style */
.animate-moving-text {
    white-space: nowrap;
    animation: move-left 15s linear infinite;
}

@keyframes move-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100vw);
    }
}

/* Navbar Section */
.navbar-brand,
.display-2 {
    font-family: "Aboreto", system-ui;
}

.display-2,
.lead {
    text-shadow: black 1px 1px 2px;
}

/* Hero Section */
.hero-section {
    color: white;
    text-align: center;
    padding: 100px 0;
    height: 90vh;
    overflow: hidden;
}

/* Style for tab buttons (not active) */
.nav-pills .nav-link {
    color: black;
    background-color: transparent;
}

/* Style for tab buttons (active) */
.nav-pills .nav-link.active {
    background-color: black;
    color: white;
    border-color: black;
}

/* Hover effect */
.nav-pills .nav-link:hover {
    transform: scale(1.1);
}

/* About Us Section */
.us-text {
    font-size: 25px;
}

/* Product Card */
.product-card img {
    height: 350px;
    object-fit: cover;
}

/* Contact Form */
.contact-form {
    max-width: 600px;
    margin: auto;
}

/* Scroll to Top Button */
#btnTop {
    z-index: 9999;
    bottom: 90px;
}

.symbol {
    font-size: 40px;
    padding: 0 5px;

}

#btnTop:hover {
    transform: scale(1.1);
}

#btnTop:active {
    transform: scale(0.95);
}

/* Social Media Icons */
.social-icons>a>i {
    text-decoration: none;
    color: white;
}

.social-icons>a>i:hover {
    text-shadow: white 2px 2px 5px;
}

/* ----- Media Queries ----- */
@media screen and (min-width: 1200px) {
    .img-fluid {
        width: 80%;
    }
}

@media screen and (max-width: 1399px) {
    .us-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .us-text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    @keyframes move-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-120vw);
        }
    }

    .symbol {
        text-shadow: white 2px 2px 5px;
    }
}

@media (max-width: 560px) {
    @keyframes move-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-180vw);
        }
    }
}

@media (max-width: 460px) {
    @keyframes move-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-230vw);
        }
    }
}